.search-table-head {
    background-color: #5086B6;
}

.onhover-lightblue tr:hover {
    background-color: #B4C4E4 !important;
}

.search-result {
    cursor: pointer;
}

.review-submit-button {
    padding-top: 10px;
}

.review-form {
    padding: 0px;
}

#h4 {
    padding: 10px;
}

.star_rating {
    margin: 10px;
}