{% extends "template.html" %}

<!-- Book Title -->
{% block title %}
<h1 id="book-title" style="text-align: center">{{ title }}</h1>
<h2 id="book-author" style="text-align: center">By: {{ author }}</h2>
<h3 id="publish-date" style="text-align: center">Published: {{ publish_date }}</h3>
<h3 id="isbn" style="text-align: center">ISBN: {{ isbn }}</h3>
{% endblock %}

{% block body %}
<div class="form-group">
    <h4>Write a review for {{ title }}:</h4>
    <textarea class="form-control review-field" rows="5" id="review-field"></textarea>
    <button class="btn btn-primary text-center" type="submit">Submit Review</button>
</div>
{% endblock %}