{% extends "template.html" %}

<!-- A title -->
{% block title %}
<h1 class="padded-title">Register</h1>
{% endblock %}

<!-- Display error message if input validation fails -->
{% block form_alert %}
<div class="alert alert-danger" style="text-align: center">{{ error_message }}</div>
{% endblock %}

{% block body %}
<!-- Sign up form-->
<div class="container">
    <form action="{{ url_for('register') }}" method="POST">
        <div class="row form-group">
            <div class="col"></div>
            <!-- Username -->
            <div class="col">
                <label for="register-username">User Name</label>
                <input type="text" class="form-control" name="register-username">
            </div>
            <div class="col"></div>
        </div>
        <div class="row form-group">
            <div class="col"></div>
            <!-- Email -->
            <div class="col">
                <label for="register-email">E-mail Address</label>
                <input type="email" class="form-control" name="register-email">
            </div>
            <div class="col"></div>
        </div>
        <div class="row form-group">
            <div class="col"></div>
            <!-- Password -->
            <div class="col">
                <label for="register-password">Password</label>
                <input type="password" class="form-control" name="register-password">
            </div>
            <div class="col"></div>
        </div>
        <div class="row form-group">
            <div class="col"></div>
            <!-- Confirm password -->
            <div class="col">
                <label for="register-password-confirm">Re-Enter Password</label>
                <input type="password" class="form-control" name="register-password-confirm">
            </div>
            <div class="col"></div>
        </div>
        <div class="row form-group">
            <div class="col"></div>
            <!-- Submit button -->
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col"></div>
    </form>
</div>
{% endblock %}