{% extends "template.html" %}
{% block title %}
<h1 style="text-align: center">Search</h1>
{% endblock %}

{% block body %}
<form action="{{ url_for('search') }}" method="post">
    <div class="container">
        <div class="row form-group">
            <div class="col"></div>
            <div class="col">
                <input type="text" class="form-control" name="search-books" value="Search by Title, Author or ISBN">
            </div>
            <div class="col"></div>
        </div>
    </div>
</form>
{% endblock %}