{% extends "template.html" %}

<!-- A title -->
{% block title %}
<h1 class="padded-title">Sign In</h1>
{% endblock %}

<!-- Error message placeholder -->
{% block form_alert %}
<div class="alert alert-danger" style="text-align: center">{{ error_message }}</div>
{% endblock %}

<!-- Login fields -->
{% block body %}
<div class="container signin-container">
    <form class="signin-form" action="{{ url_for('signin') }}" method="post">
        <div class="row form-group">
            <div class="col"></div>
            <!-- Username -->
            <div class="col">
                <label for="signin-username">User Name</label>
                <input id="signin-username" type="text" class="form-control" name="signin-username">
            </div>
            <div class="col"></div>
        </div>
        <div class="row form-group">
            <div class="col"></div>
            <!-- Password -->
            <div class="col">
                <label for="signin-password">Password</label>
                <input id="signin-password" type="password" class="form-control" name="signin-password">
            </div>
            <div class="col"></div>
        </div>
        <div class="row form-group">
            <div class="col"></div>
            <!-- Submit button -->
            <div class="col">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col"></div>
    </form>
</div>

<!-- Call to create an account -->
<div style="text-align: center">
    Don't have an account?
    <a href="{{ url_for('register') }}">Sign up here</a>
</div>
{% endblock %}